*{
    box-sizing: border-box;
    margin: 0;
}
.logo{
    display: inline-block;   
    width: 100 px;
}
.logo img{
    height: 100px;
    vertical-align: middle;
}
.TulisanBanner{
    color: white;
    display: inline-block;
    vertical-align: middle;
    padding-left: 20px;
    font-weight: bold;
    font-size: 15pt;
}
.banner{
    background-color: black;
    height: 100px;
    vertical-align: middle;
}

.nav{
    background-color: red;
    vertical-align: top;
    height:33px;
}
.nav a{
    padding: 0 15px 0 15px;
    display: inline-block;
    background-color:red;
    color: black;
    text-decoration: none;
    height: 100%;
    text-align:center;
    padding-top:5px;
}

.nav ul{
    list-style: none;
    float: left;
    display: flex;
    text-align: center;
    height: 100%;
}

.nav a:hover{
    background-color: black;
    color: white;
    height: 100%;
}

.heading{
    text-align: center;

}

.players{
    height: 150px;
    width: 150px;
    float: left;
    overflow: hidden;
    margin: 20px;
    padding-top: 130px;
    padding-left: 20px;
    color: white;
}
.Pogba {
    background-image: url("Image/Pogba.jpg");
    background-size: 220px;
}