*{
    box-sizing: border-box;
    margin: 0;
    z-index: 1;
}
body{
    background-color: rgb(177, 2, 2);
}
.logo{
    display: inline-block;   
    width: 100 px;
}
.logo img{
    height: 100px;
    vertical-align: middle;
    padding-top: 10px;
}
.TulisanBanner{
    color: white;
    display: inline-block;
    vertical-align: middle;
    padding-left: 20px;
    font-weight: bold;
    font-size: 15pt;
}
.banner{
    margin-top:50px;
    background-image: linear-gradient(to right,black, rgb(177, 1, 1));
    height: 120px;
    vertical-align: middle;
}

.nav{
    background-color: rgb(177, 2, 2);
    vertical-align: top;
    height:33px;
    top: 0;
    position: fixed;
    width:100%;
    opacity: 0.90;
}
.nav a{
    padding: 0 15px 0 15px;
    display: inline-block;
    background-color rgb(177, 2, 2);
    color: black;
    text-decoration: none;
    height: 100%;
    text-align:center;
    padding-top:5px;
}

.nav ul{
    list-style: none;
    float: left;
    display: flex;
    text-align: center;
    height: 100%;
    
}

.nav a:hover{
    background-color: black;
    color: white;
    height: 150%;
}

.heading{
    text-align: center;

}


/*content*/
.highlight{
    background-image: url("Image/OldTrafford.jpg");
    background-size: cover;
    background-position: 50%;
    text-align: center;
    height: 650px;
    background-repeat: no-repeat;
    padding-top: 200px;
    color: white;
    vertical-align: middle;
    font-size: 60pt;
    min-width: 300px;
    background-attachment: fixed;
}
.highlight p, .highlight img{
    display: inline-block;
    padding:0px 5px 0 5px;
}
.highlight .schedule{
    font-size: 20pt;
    position: relative;
}

.players{
    height: 150px;
    width: 150px;
    float: left;
    overflow: hidden;
    margin: 20px;
    padding-top: 130px;
    padding-left: 20px;
    color: white;
}
.Pogba {
    background-image: url("Image/Pogba.jpg");
    background-size: 220px;
}